* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  max-width: 100%;
}

h1 {
  font-size: $header1;
  font-family: "Roboto", sans-serif;
}

li,
button,
label,
input,
p,
a {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: $header2;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: $header3;
  font-family: "Roboto", sans-serif;
}

h4,
h5 {
  font-size: $header4;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}
