/* Font Size Variables */

$header1: 5.25rem;
$header2: 4.5rem;
$header3: 3rem;
$header4: 2.25rem;

$text-big: 1.125;
$text-small: 1rem;
$text-a: 0.875rem;

/* Colors */

$bg: #262626;
$primary: #31fd3f;
$text-light: #c4c4c4;
$text-medium: #a8a8a8;
$text-dark: #929292;
$text-vd: #7d7d7d;

@import "_global";
@import "_nav";
@import "_hero";
@import "_about";
@import "_services";
@import "_work";
@import "_testimonials";
@import "_artists";
@import "_faq";
@import "_prefoot";
@import "_footer";
